<table border="0" style="font-family: sans-serif; max-width: 800px;">
	<tr>
		<td>
			<h1 style="font-size: 20px;">Collabish - Two Step Login Request</h1>
		</td>
	</tr>
	<tr>
		<td style="padding: 15px 0 50px; font-size: 14px;">
			<p>
				Hello <i>{{ user.name }}</i>,<br />
				We recieved a request to log into your Collabish account. Here is your confirmation code
				to complete the login:
			</p>
			<p style="padding: 20px; font-size: 18px; font-weight: bold;">{{ key }}</p>
		</td>
	</tr>
	<tr>
		<td style="padding-top: 10px; border-top: 1px #ccc solid; font-size: 12px;">
			<p>
				If you didn't request a login to your Collabish account, this could be a sign that
				someone else is trying to access your account.
			</p>
		</td>
	</tr>
</table>